---
layout: archive
title: "Research"
permalink: /
author_profile: true
---

<p>My research interests are on technology (e.g., AI and algorithmic decision-making) on platforms. Technology is the key in the business model of platforms.</p>

<ul>
  <li><strong>Platform:</strong> Technology lowers the cost of the platform to coordinate milliions of consumers and service providers outside the company (e.g., uber drivers, amazon sellers, content creators), so that the platform can scale more easily and extract greater value in the total added value. However, new technology may also cause unexpected consequences that hurt the platform. My study investigates the unexpected results of platform polcies.</li>
  <li><strong>Consumer:</strong> Technology makes it possible for consumers to access tons of information and products, but consumers may also be fooled by fake reviews, be exposed to harmful content by algorithms, etc.  My research studies consumer welfare as a result of the interactions of multiple players on the platform.</li>
  <li><strong>Service Provider:</strong> Their competition is strongly influenced by AI and algorithmic decision-making, such as ranking algorithms, recommendation algorithms, pricing algorithms, etc. My researh studies the changes in competition following the redesign of ranking algorithms.</li>
</ul> 
I apply game theory, structural modeling, causal inference and machine learning to study the topics above.
<h2>Working Papers</h2><hr />
<ol>
  <li> <strong><a href="../files/ai_summary.pdf">AI Summary Overrepresents Fake Reviews: Evidence from Amazon</a></strong>  (Preliminary Draft)<br> With Andrew T. Ching </li>
  <li><strong><a href="../files/platform_design.pdf">Platform Design with Lemons: Ranking, Certification, and Endogenous Market Segmentation</a></strong> <br> With Wenxiao Yang</li>
  <ul>
    <li>Presented at: <em>ISMS 2025, CIST 2025 </em></li>
  </ul>
  <li><strong>Unintended Footprints and Information Misallocation: Evidence from Multi-method Studies</strong> <br> With Miaozhe Han, Hongchuan Shen, and Michael (Xiaoquan) Zhang</li>
  <ul>
    <li>Winner, Best Paper Award at 2023 Asia-Pacific Marketing Academy Conference</li>
    <li>Presented at:<em> SCECR 2024, Asia-Pacific Marketing Academy Conference 2023, Conference on Behavioral Science in the Age of Smart Technology 2023, CoDE @ MIT 2022, AFE @ UChicago 2022 </em></li>
  </ul>
</ol>





<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} --> 



