---
layout: archive
title: "Research"
permalink: /
author_profile: true
---

<p>My research interests are in technology (e.g., AI and algorithmic decision-making) on digital platforms. I apply game theory, structural modeling, causal inference and machine learning to study the topics above.</p>


<h2>Working Papers</h2><hr />
<ol>
  <li> <strong><a href="../files/ai_summary.pdf">AI Summary Overrepresents Fake Reviews: Evidence from Amazon</a></strong>  (Preliminary Draft)<br> With Andrew T. Ching </li>
  <ul>
    <li>Presented at: <em><a href="https://ide.mit.edu/events/2026-the-business-implications-of-generative-ai-mit-big-aimit/">BIG.AI@MIT</a>, <a href="https://www.indorgsociety.org/conference">IIOC 2026</a>, <a href="https://questromworld.bu.edu/platformstrategy/">Platform Strategy Research Symposium</a></em></li>
  </ul>
  <li><strong><a href="../files/platform_design.pdf">Platform Design with Lemons: Ranking, Certification, and Endogenous Market Segmentation</a></strong> <br> With Wenxiao Yang</li>
  <ul>
    <li>Presented at: <em><a href="https://www.terry.uga.edu/events/isms-marketing-science-conference/">ISMS 2025</a>, <a href="https://sites.google.com/view/cist2025">CIST 2025</a> </em></li>
  </ul>
  <li><strong>Digital Footprints and Information Misallocation: Evidence from Multi-method Studies</strong> <br> With Miaozhe Han, Hongchuan Shen, and Michael (Xiaoquan) Zhang</li>
  <ul>
    <li>Under Review</li>
    <li>Winner, Best Paper Award at 2023 Asia-Pacific Marketing Academy Conference</li>
    <li>Presented at:<em> SCECR 2024, Asia-Pacific Marketing Academy Conference 2023, Conference on Behavioral Science in the Age of Smart Technology 2023, <a href="https://ide.mit.edu/events/2022-conference-on-digital-experimentation-mit-codemit/">CoDE@MIT 2022</a>, <a href="https://economics.uchicago.edu/advances-field-experiments-2022-conference">AFE@UChicago 2022</a> </em></li>
  </ul>
</ol>


<h2>Work in Progress</h2><hr />
<ol>
  <li>Note on Identification of Stockpiling Models</li>
  <ul>
    <li>With Andrew T. Ching and Matthew Osborne</li>
  </ul>
</ol>




<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} --> 



